#body {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  #container {
    display: flex;
    background-color: #29bd6abe;
    height: 750px;
    width: 350px;
    position: absolute;
    left: 20%;
  }
  
  #item1 {
    background-color: rgb(255, 255, 255);
    height: 720px;
    width: 320px;
    position: absolute;
    top: 2%;
    left: 4%;
    border: 1px solid rgb(13, 57, 8);
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    left: 37%;
    top: 5%;
  }
  
  #img i {
    position: absolute;
    z-index: 10;
    left: 25%;
    top: 25%;
  }
  
  #xmark {
    position: absolute;
    top: 55px;
    left: 20px;
    z-index: 10;
  }
  
  #xmark i {
    font-size: 13px;
  }
  
  #play {
    height: 50px;
    width: 100px;
    position: absolute;
    top: 280px;
    left: 9%;
    z-index: 10;
    border: 1px solid rgb(224, 44, 44);
    border-radius: 0.7em;
  }
  
  #play .pl {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 8%;
    left: 41%;
  }
  
  #play i {
    font-size: 14px;
    position: absolute;
    top: 37%;
    left: 25%;
  }
  
  #heart {
    border: 1px solid rgb(214, 17, 17);
    border-radius: 5em;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 280px;
    left: 50%;
  }
  
  #heart i {
    position: absolute;
    top: 33%;
    left: 34%;
  }
  
  #add {
    border: 1px solid rgb(224, 33, 33);
    border-radius: 5em;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 280px;
    left: 72%;
  }
  
  #add i {
    position: absolute;
    top: 33%;
    left: 37%;
  }
  
  #item2 {
    background-color: #b7bbbb;
    height: 140px;
    width: 140px;
    border: 1px solid black;
    border-radius: 0.7em;
    position: absolute;
    top: 17.5%;
    left: 9%;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: 25%;
    left: 125%;
  }
  
  .no-wrap {
    white-space: nowrap;
  }
  
 
  #song1-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 115%;
    bottom: 30%;
  }
  
  #song1-artist {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    font-weight: bold;
    position: absolute;
    left: 115%;
    bottom: 10%;
  }
  

  #song2-title, #song3-title, #song4-title, #song5-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    left: 125%;
    bottom: 30%;
  }
  
  #song2-artist, #song3-artist, #song4-artist, #song5-artist {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    font-weight: normal;
    position: absolute;
    left: 125%;
    bottom: 0%;
  }
  
  #item3 {
    background-color: #7314a9;
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 0.3em;
    left: 13%;
    bottom: 43%;
  }
  
  #item4 {
    background-color: #c0ba4c;
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 0.3em;
    left: 13%;
    bottom: 31%;
  }
  
  #item5 {
    background-color: #63b6ea;
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 0.3em;
    left: 13%;
    bottom: 19%;
  }
  
  #item6 {
    background-color: #c93535;
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 0.3em;
    left: 13%;
    bottom: 7%;
  }
  